#slika {
    width: 450px;
    height: 180px;
  }
  h1 {
    font-weight: bold;
    width: 320px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    max-height: 4rem;
    overflow: hidden;
  }
  .container2 {
    display: inline-block;
    vertical-align: top;
  }
  #container1 {
    display: flex;
  }
  #logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .title {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 0.8rem;
  }
  input {
    width: 300px;
    height: 30px;
    display: block;
     margin-right: auto;
     margin-left: auto;
  }